<!-- header -->

<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <div class="shopname">Shop<span class="s">S</span>ter</div>
    <div class="flex-container">
        <ul>
            <li>
                <!-- icon 1 -->
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
                  </button>
            </li>
              <li>
                  <!-- icon 2 -->
                  <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>account_circle</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item><mat-icon>logout</mat-icon>SignOut</button>
                  </mat-menu>
              </li>
        </ul>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav="matSidenav">
        <img class="avatar mat-elevation-z8" src="https://play-lh.googleusercontent.com/TxMV75Y2UK7GVXpIQO6bxpVMNBmMZEvzg0qZBU1J3YAcaa_yDx-b24hIrLaYVdOOddM" alt="image">

        <h4 class="name">Admin Panel</h4>
        <p class="designation">Project Manager</p>
        <mat-divider></mat-divider>

        <!-- sidebar -->
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- dashboard -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

<!-- footer -->
<app-footer></app-footer>