<button routerLink="" mat-button class="menu-button">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
</button>
<button routerLink="table" mat-button class="menu-button">
    <mat-icon>drag_indicator</mat-icon>
    <span>Table</span>
</button>
<button routerLink="chart" mat-button class="menu-button">
    <mat-icon>insights</mat-icon>
    <span>Chart</span>
</button>
<button routerLink="form" mat-button class="menu-button">
    <mat-icon>list_alt</mat-icon>
    <span>Form</span>
</button>

<button routerLink="location" mat-button class="menu-button">
    <mat-icon>my_location</mat-icon>
    <span>Location</span>
</button>

<mat-divider></mat-divider>

<button routerLink="settings" mat-button class="menu-button">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
</button>
