

<div class="st1">
    <mat-radio-group aria-label="Select an option">
        <h3>Change Laguage : </h3>
        <mat-radio-button value="1">English (Default)</mat-radio-button>
        <mat-radio-button value="2">Hindi</mat-radio-button>
        <mat-radio-button value="2">Malayalam</mat-radio-button>
      </mat-radio-group>
</div>

  <div class="example-button-container">
    <h3>Themes : <mat-slide-toggle></mat-slide-toggle></h3>
    <button mat-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>dark_mode</mat-icon>
    </button>
  </div>
  
